.vs/
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.exe
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.pdb
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Application.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Application.pdb
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Core.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Core.pdb
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.assets.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.AssemblyInfo.cs
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.AssemblyInfoInputs.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.csproj.AssemblyReference.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.sourcelink.json
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.sourcelink.json
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.sourcelink.json
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.sourcelink.json
*.log
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.staticwebassets.endpoints.json
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.staticwebassets.runtime.json
/TaskManagementSystem.Api/obj/Debug/net10.0/apphost.exe
/TaskManagementSystem.Api/obj/Debug/net10.0/ref/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/obj/Debug/net10.0/refint/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/obj/Debug/net10.0/rjimswa.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.build.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.build.json.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.development.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.csproj.CoreCompileInputs.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.csproj.FileListAbsolute.txt
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.genruntimeconfig.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.pdb
/TaskManagementSystem.Api/obj/project.assets.json
/TaskManagementSystem.Api/obj/project.nuget.cache
/TaskManagementSystem.Api/obj/TaskManagementSystem.Api.csproj.nuget.dgspec.json
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Application.pdb
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Application/obj/Debug/net10.0/ref/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/obj/Debug/net10.0/refint/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.AssemblyInfo.cs
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.AssemblyInfoInputs.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.assets.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.csproj.AssemblyReference.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.csproj.CoreCompileInputs.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.csproj.FileListAbsolute.txt
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.pdb
/TaskManagementSystem.Application/obj/project.assets.json
/TaskManagementSystem.Application/obj/project.nuget.cache
/TaskManagementSystem.Application/obj/TaskManagementSystem.Application.csproj.nuget.dgspec.json
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.AssemblyInfo.cs
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.AssemblyInfoInputs.cache
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.assets.cache
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Core/obj/project.assets.json
/TaskManagementSystem.Core/obj/project.nuget.cache
/TaskManagementSystem.Core/obj/TaskManagementSystem.Core.csproj.nuget.dgspec.json
/TaskManagementSystem.Infrastructure/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/ref/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/refint/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.AssemblyInfo.cs
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.AssemblyInfoInputs.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.assets.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.csproj.AssemblyReference.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.csproj.CoreCompileInputs.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.csproj.FileListAbsolute.txt
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Infrastructure/obj/project.assets.json
/TaskManagementSystem.Infrastructure/obj/project.nuget.cache
/TaskManagementSystem.Infrastructure/obj/TaskManagementSystem.Infrastructure.csproj.nuget.dgspec.json
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.staticwebassets.endpoints.json
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.staticwebassets.runtime.json
/TaskManagementSystem.Api/obj/Debug/net10.0/apphost.exe
/TaskManagementSystem.Api/obj/Debug/net10.0/ref/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/obj/Debug/net10.0/refint/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/obj/Debug/net10.0/rjimswa.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/rjsmcshtml.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/rjsmrazor.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/rpswa.dswa.cache.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.build.endpoints.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.build.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.build.json.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.development.json
/TaskManagementSystem.Api/obj/Debug/net10.0/staticwebassets.upToDateCheck.txt
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.csproj.CoreCompileInputs.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.csproj.FileListAbsolute.txt
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.genruntimeconfig.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.pdb
/TaskManagementSystem.Api/obj/project.assets.json
/TaskManagementSystem.Api/obj/project.nuget.cache
/TaskManagementSystem.Api/obj/TaskManagementSystem.Api.csproj.nuget.dgspec.json
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Application.pdb
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Application/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Application/obj/Debug/net10.0/ref/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/obj/Debug/net10.0/refint/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.AssemblyInfo.cs
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.AssemblyInfoInputs.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.assets.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.csproj.AssemblyReference.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.csproj.CoreCompileInputs.cache
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.csproj.FileListAbsolute.txt
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.dll
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.pdb
/TaskManagementSystem.Application/obj/project.assets.json
/TaskManagementSystem.Application/obj/project.nuget.cache
/TaskManagementSystem.Application/obj/TaskManagementSystem.Application.csproj.nuget.dgspec.json
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.AssemblyInfo.cs
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.AssemblyInfoInputs.cache
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.assets.cache
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Core/obj/project.assets.json
/TaskManagementSystem.Core/obj/project.nuget.cache
/TaskManagementSystem.Core/obj/TaskManagementSystem.Core.csproj.nuget.dgspec.json
/TaskManagementSystem.Infrastructure/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/ref/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/refint/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.AssemblyInfo.cs
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.AssemblyInfoInputs.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.assets.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.csproj.AssemblyReference.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.csproj.CoreCompileInputs.cache
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.csproj.FileListAbsolute.txt
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Infrastructure/obj/project.assets.json
/TaskManagementSystem.Infrastructure/obj/project.nuget.cache
/TaskManagementSystem.Infrastructure/obj/TaskManagementSystem.Infrastructure.csproj.nuget.dgspec.json
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.AssemblyInfo.cs
