.vs/
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.exe
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Api.pdb
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Application.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Application.pdb
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Core.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Core.pdb
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.dll
/TaskManagementSystem.Api/bin/Debug/net10.0/TaskManagementSystem.Infrastructure.pdb
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.assets.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.AssemblyInfo.cs
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.AssemblyInfoInputs.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.csproj.AssemblyReference.cache
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.GeneratedMSBuildEditorConfig.editorconfig
/TaskManagementSystem.Api/obj/Debug/net10.0/TaskManagementSystem.Api.sourcelink.json
/TaskManagementSystem.Application/obj/Debug/net10.0/TaskManagementSystem.Application.sourcelink.json
/TaskManagementSystem.Core/obj/Debug/net10.0/TaskManagementSystem.Core.sourcelink.json
/TaskManagementSystem.Infrastructure/obj/Debug/net10.0/TaskManagementSystem.Infrastructure.sourcelink.json
*.log
